{% extends 'base.html' %}

{% block title %}
    Listado de prendas
{% endblock %}

{% block content %}

    <h1>Listado de prendas</h1>
    <h2>Añadir nueva prenda </h2> <a href="/clothes/create-garment/" class="btn btn-primary">Añadir</a>
    {% for cloth in clothes %}


        <div class="card" style="width: 18rem;">
            <img src="https://www.segutecnica.com/images/000000000001757037365remera-naranja-segutecnica.png" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{cloth.type}}</h5>
            <p class="card-text">Su precio es ${{cloth.price}}</p>
            {% if cloth.sex == 'man' %}
            <p>Hombre</p>
            {% elif cloth.sex == 'woman' %}
            <p>Mujer</p>
            {% else %}
            <p>Unisex</p>
            {% endif %}

            {% if cloth.stock == True %}
                <p>Disponible</p>
            {% else %}
                <p>Sin stock</p>
            {% endif %}

            {% if cloth.category == 'jumpers' %}
            <p>Buzo</p>
            {% elif cloth.category == 'shirts' %}
            <p>Remera</p>
            {% elif cloth.category == 'caps' %}
            <p>Gorra - Gorro</p>
            {% endif %}
            <a href="/clothes/update-garment/{{cloth.id}}/" class="btn btn-primary">Actualizar</a>
            <a href="/clothes/delete-garment/{{cloth.id}}/" class="btn btn-danger">Eliminar</a>
            </div>
        </div>



    {% endfor %}

{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clothes/list-clothes/" method="GET">
{% endblock %}