{% extends 'base.html' %}

{% block title %}
    Listado de prendas
{% endblock %}

{% block content %}

    <h1>Hola desde el template de listado de prendas</h1>
    <h2>Añadir nueva prenda </h2> <a href="/clothes/create-garment/" class="btn btn-primary">Añadir</a>
    {% for cloth in clothes %}


        <div class="card" style="width: 18rem;">
            <img src="https://www.segutecnica.com/images/000000000001757037365remera-naranja-segutecnica.png" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{cloth.type}}</h5>
            <p class="card-text">Su precio es ${{cloth.price}}</p>
            {% if cloth.stock == True %}
                <p>Disponible</p>
            {% else %}
                <p>Sin stock</p>
            {% endif %}
            <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>



    {% endfor %}

{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clothes/list-clothes/" method="GET">
{% endblock %}