{% extends 'base.html' %}

{% block title %}
    Inicio | Ropa Cheta
{% endblock %}

{% block content %}

    {% if message %}
        <h2>{{message}}</h2>
    {% elif not request.user.is_authenticated %}
    <h1>Bienvenid@ gracias por visitar nuestra tienda!</h1>
    {% else %}
    <h1>Bienvenid@ {{request.user}}! Gracias por visitar nuestra tienda!</h1>

    {% endif %}


{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clothes/list-clothes/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar prendas" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
{% endblock %}