{% extends 'base.html' %}

{% block title %}
    Inicio | Ropa Cheta
{% endblock %}

{% block content %}

    {% if message %}
        <h2>{{message}}</h2>
    {% elif not request.user.is_authenticated %}
    <h1>Bienvenid@ gracias por visitar nuestra tienda!</h1>
    {% else %}
    <h1>Bienvenid@ {{request.user}}! Gracias por visitar nuestra tienda!</h1>

    {% endif %}


{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action="/clothes/list-clothes/" method="GET">
{% endblock %}