{% extends 'base.html' %}

{% block title %}
    Listado de ordenes
{% endblock %}

{% block content %}

<h1>Listado de ordenes</h1>
<h2>Hacer una orden </h2> <a href="/orders/create-order/" class="btn btn-primary">Ordenar</a>
{% for order in orders %}
    <div class="card" style="width: 18rem;">
        <img src="https://www.segutecnica.com/images/000000000001757037365remera-naranja-segutecnica.png" class="card-img-top">
        <div class="card-body">
        <h5 class="card-title">El cliente: {{order.client}}</h5>
        <p class="card-text">Compro la prenda {{order.garment}} el {{order.creation_time}}</p>
        {% if order.payment_method == 'Card' %}
        <p>El pago se realizo con tarjeta</p>
        {% elif order.payment_method == 'Cash' %}
        <p>El pago se realizo con efectivo</p>
        {% endif %}
        <a href="/orders/update-order/{{order.id}}/" class="btn btn-primary">Actualizar</a>
        <a href="/orders/delete-order/{{order.id}}/" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
{% endfor %}

{% endblock %}
{% block search %}
<form class="form-inline my-2 my-lg-0" action="/orders/list-orders/" method="GET">
{% endblock %}